.container {
	width: 100%;
}

.loaderWrap {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	width: calc(100vw - calc(2 * var(--outer-margin)));
	justify-content: center;

	.loader {
		padding: 0;
	}
}
