.article {
  position: relative;
  padding-top: var(--space);
  width: 100%;

  @include mq($from: tablet) {
    width: 75%;
  }

  figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: var(--line-thick);

    &.mainImage {
      margin-bottom: var(--space);
    }

    &.small {
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
    }

    &.medium {}

    &.large {}

    &.portrait {
      padding-left: calc(3 * var(--grid-unit));
      padding-right: calc(3 * var(--grid-unit));

      @include mq($from: tablet) {
        padding-left: calc(2 * var(--grid-unit));
        padding-right: calc(2 * var(--grid-unit));
      }
    }
  }

  section {
    @include mq($from: tablet) {
      display: flex;
      flex-direction: row;
    }

    .content {
      @include mq($from: tablet) {
        width: calc(2 * var(--grid-unit));
      }

      .structured:not(.dropcap)>p:first-of-type {
        &:first-child:first-letter {
          color: var(--page-color);
          float: left;
          font-family: $headline-font;
          font-weight: normal;
          line-height: 0.7em;
          font-size: 5rem;
          padding-top: 0.1em;
          padding-right: 8px;
        }
      }

      &>*:nth-last-child(2) {
        margin-bottom: 0;
      }

      .back {
        position: absolute;
        margin-left: calc(-1 * var(--grid-unit));
        margin-top: -1em;

        &:hover {
          color: var(--page-color);
        }
      }
    }

    .caption {
      flex: 0 0 25%;
      margin-left: var(--gutter);

      figcaption {
        padding-top: 0;
      }
    }
  }
}