.article {
  position: relative;
  width: 75%;
  padding-top: var(--space);

  figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: var(--line-thick);

    &.mainImage {
      margin-bottom: var(--space);
    }

    &.small {
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
    }

    &.medium {
    }

    &.large {
    }

    &.portrait {
      padding-left: calc(3 * var(--grid-unit));
      padding-right: calc(3 * var(--grid-unit));

      @include mq($from: tablet) {
        padding-left: calc(2 * var(--grid-unit));
        padding-right: calc(2 * var(--grid-unit));
      }
    }
  }

  section {
    display: flex;
    flex-direction: row;

    .content {
      width: calc(2 * var(--grid-unit));

      & > p:first-of-type {
        &:first-child:first-letter {
          color: var(--page-color);
          float: left;
          font-family: $headline-font;
          font-size: 5rem;
          line-height: 60px;
          padding-top: 0.1em;
          padding-right: 8px;
        }
      }

      & > *:nth-last-child(2) {
        margin-bottom: 0;
      }

      .back {
        position: absolute;
        margin-left: calc(-1 * var(--grid-unit));
        margin-top: -1em;
        &:hover {
          color: var(--page-color);
        }
      }
    }

    .caption {
      flex: 0 0 25%;
      margin-left: var(--gutter);

      figcaption {
        padding-top: 0;
      }
    }
  }
}
