.article {
  position: relative;
  //padding-top: var(--header-height);

  &.noBottom {
    padding-bottom: 0;
  }

  a:hover {
    color: var(--beige-dark) !important;
  }

  figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &.mainImage {
      padding-bottom: var(--space);
    }

    &.small {
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
    }

    &.medium {
    }

    &.large {
    }

    &.portrait {
      padding-left: calc(3 * var(--grid-unit));
      padding-right: calc(3 * var(--grid-unit));
      @include mq($from: tablet) {
        padding-left: calc(2 * var(--grid-unit));
        padding-right: calc(2 * var(--grid-unit));
      }
    }
  }

  .date {
    font-family: $headline-font;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include mq($until: tablet) {
      width: 14vw;
      float: right;
      margin-left: var(--outer-margin);
    }

    @include mq($from: tablet) {
      position: absolute;
      right: 0;
      width: calc(var(--grid-unit) - var(--gutter));
    }

    span {
      display: block;

      &:first-of-type {
        text-transform: uppercase;
        padding-bottom: 0.5em;
      }

      &:last-of-type {
        font-size: 2.3rem;
        padding-bottom: 0.5em;
      }
    }
  }
}
