.aside {
  margin-top: var(--space);
  width: 100%;

  @include mq($until: desktop) {
    //display: none;
  }

  @include mq($from: desktop) {
    position: sticky;
    top: var(--navbar-height);
    width: var(--grid-unit);
  }

  div {
    @include mq($until: desktop) {
      column-count: 2;
    }

    border-bottom: var(--line-thin);
    padding-bottom: var(--small-space);

    @include mq($from: desktop) {
      margin-right: var(--gutter);
    }

    p {
      margin-bottom: 0;
    }
  }

  h3 {
    color: var(--page-color);
    border-bottom: var(--line-thin);
    margin-bottom: var(--small-space);
    margin-right: var(--gutter);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
    }
  }

  &.hideMobile {
    @include mq($until: desktop) {
      display: none;
    }
  }

  .back {
    background-color: var(--white);
    padding: 1em;
    text-align: center;
    border-bottom: 0;
    column-count: 1;
    margin-bottom: var(--small-space);

    &.hide {
      display: none;
    }

    &:not(:first-of-type) {
      margin-top: var(--space);
    }

    a {
      width: 100%;
      text-align: center;
    }

    @include mq($from: desktop) {
      display: none;
    }
  }
}

.taller {
  @include mq($from: desktop) {
    position: relative;
    top: 0;
  }
}
