.aside {
  position: sticky;
  margin-top: var(--space);
  top: var(--navbar-height);
  width: var(--grid-unit);

  div {
    border-bottom: var(--line-thin);
    margin-right: var(--gutter);
    padding-bottom: var(--small-space);

    p {
      margin-bottom: 0;
    }
  }

  h3 {
    color: var(--page-color);
    border-bottom: var(--line-thin);
    margin-bottom: var(--small-space);
  }

  ul {
    list-style: none;

    li {}
  }
}