.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1;
  flex-basis: 100%;
  min-height: 100vh;
  padding: var(--outer-margin);
  padding-top: var(--navbar-height);

  &.home {
  }

  &.full {
  }

  &.project {
  }

  @include mq($from: tablet) {
  }

  @include mq($until: tablet) {
  }

  article {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    @include mq($until: tablet) {
    }

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }
}
