.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1;
  flex-basis: 100%;
  padding: var(--outer-margin);
  padding-top: var(--navbar-height);

  article {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    @include mq($until: tablet) {}

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  // For newsletter form
  @include mq($until: desktop) {
    &.contact {
      article {
        flex-direction: column;
      }
    }
  }
}