.container {
  position: fixed;
  top: var(--very-small-space);
  left: 0;
  max-width: 0;
  z-index: var(--z-logo);
  left: var(--outer-margin);
  font-family: $symbol-font;
  font-size: var(--logo-size);
  a {
    line-height: 1;
    &:hover {
      color: var(--page-color);
    }
  }
}
