.container {
  position: fixed;
  max-width: 0;
  z-index: var(--z-logo);
  left: var(--outer-margin);

  @include mq($until: tablet) {
    top: var(--outer-margin);
    transform: scale(0.9);
  }

  @include mq($from: tablet) {
    bottom: var(--outer-margin);
  }

  svg,
  g,
  path {
    @include mq($from: tablet) {
      fill: inherit;
    }
  }
}