.container {
  h2 {
    text-align: center;
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
  }

  > ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-top: var(--space);

      .intro {
        p {
          padding: 0;

          > strong {
            font-family: $headline-font;
            font-size: 0.75rem;
            font-weight: bold !important;
          }
        }
      }

      button {
        margin-top: var(--small-space);
        margin-left: calc(var(--grid-unit) * 3);
        margin-right: calc(var(--grid-unit) * 3);
        width: calc(100% - (var(--grid-unit) * 6));
      }
    }
  }

  .loading,
  .nohits {
    text-align: center;
    margin-top: calc(var(--space) * 1);
  }

  .nohits {
  }
}
