.container {
  position: relative;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  padding-left: var(--outer-margin);
  padding-right: var(--grid-unit);

  background-color: rgba(227, 227, 227, 0.134);
  h1 a {
    color: var(--page-color);
    margin-bottom: var(--space);
  }

  h3 {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
  }

  > ul {
    list-style: none;
    padding-left: var(--grid-unit);

    li {
      margin-top: var(--space);
      padding-bottom: var(--space);
      border-bottom: var(--line-thick);

      .intro {
        p {
          padding: 0;
          margin-top: var(--small-space);

          > strong {
            font-family: $headline-font;
            font-size: 0.75rem;
            font-weight: bold !important;
          }
        }
      }

      button {
        margin-top: var(--small-space);
      }
    }
  }

  .loading,
  .nohits {
    text-align: center;
    margin-top: calc(var(--space) * 1);
  }

  .nohits {
  }
}
