.header {
  position: relative;

  &.full {
    padding-top: var(--small-space);
    padding-bottom: var(--big-space);
    padding-left: var(--grid-unit);
    border-bottom: var(--line-thick);
  }

  &.project {
    max-height: 50vh;
    min-height: 50vh;

    h1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }



  figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;

    .image {}
  }
}