.header {
  position: relative;
  overflow: hidden;

  &.full,
  &.news {
    padding-top: var(--small-space);
    padding-bottom: var(--big-space);
    border-bottom: var(--line-thick);

    @include mq($from: tablet) {
      padding-left: var(--grid-unit);
    }
  }

  &.project {
    position: relative;
    background-color: var(--black);

    width: 100%;
    border-bottom: var(--line-thick);

    h1 {
      position: absolute;
      z-index: 1;
      color: var(--white);
      top: var(--small-space);
      left: var(--outer-margin);

      @include mq($from: tablet) {
        left: var(--grid-unit);
      }

      .fade {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
        width: calc(100vw - (2 * var(--outer-margin)));
        height: 10rem;
        position: absolute;
        top: calc(-1 * var(--space));
        z-index: -1;
        margin-left: calc(-1 * var(--outer-margin));

        @include mq($from: tablet) {
          margin-left: calc(-1 * var(--grid-unit));
        }
      }
    }

    .introWrapper {
      position: absolute;
      z-index: 1;
      bottom: var(--small-space);
      color: var(--white);
      margin-bottom: 0;
      left: var(--outer-margin);
      margin-right: var(--outer-margin);

      @include mq($from: tablet) {
        left: var(--grid-unit);
        margin-right: calc(2 * var(--gutter));
      }

      .fade {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
        width: calc(100vw - (2 * var(--outer-margin)));
        height: 250%;
        position: absolute;
        bottom: calc(-1 * var(--space));
        z-index: -1;
        margin-left: calc(-1 * var(--outer-margin));

        @include mq($from: tablet) {
          margin-left: calc(-1 * var(--grid-unit));
        }
      }
    }
  }

  figure {
    //position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - var(--navbar-height) - var(--space));
    width: 100%;
    display: flex;

    .image,
    .picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //opacity: 0.5;
    }
  }


  .bgcolor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
    opacity: 1;
  }

  .view {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    cursor: pointer;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &.normal {
    .fade {
      display: none;
    }
  }

  &.light {
    .bgcolor {
      display: none;
    }

    h1 .fade {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) !important;
    }

    .introWrapper .fade {
      background: linear-gradient(00deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) !important;
    }

    h1,
    .intro {
      color: var(--black);
    }
  }

  &.dark {
    .bgcolor {
      display: none;
    }
  }
}