.container {
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: var(--line-thick);

  a {
    display: flex;

    &:hover {
      span {
        color: var(--white);
      }
    }

    h2 {
      width: 25%;
    }
    .text {
      width: 75%;

      span {
        border-bottom: 1px solid var(--white);
        transition: color 0.5s ease;
      }
    }
  }
}
