.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
  padding: 1.5rem;
  aspect-ratio: 4/4;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  @include mq($from: semi-wide) {
    font-size: 18px !important;
  }

  @include mq($until: desktop) {
    font-size: 1rem;
  }
}
