.card {
  position: relative;
  overflow: hidden;
  @include mq($until: tablet) {
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
  }
  padding-left: var(--gutter);
  margin-bottom: var(--small-space);

  @include mq($from: tablet) {
    margin-bottom: var(--space);
  }
}
