.gallery {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: var(--z-fullscreen-gallery);
  padding: var(--space);

  .images {
    --height: calc(100vh - 10vh - var(--space));
    --width: 100vw;
    height: var(--height);
    width: var(--width);

    @include mq($until: desktop) {
      max-width: 100vw;
      min-width: 100vw;
    }

    .slide {
      position: relative;
      max-height: var(--height);
      min-height: var(--height);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: var(--z-fullscreen-gallery-slide);

      .image {
        position: relative;
        z-index: 1000;
        margin: 0;
        object-fit: contain;
        max-height: var(--height);
        cursor: pointer;

        &.portrait {
          object-fit: contain;
        }
      }

      .loading {
        position: absolute;
        background-color: var(--black);
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .caption .text,
  .close {
    padding: 1em;
    z-index: var(--z-fullscreen-gallery-close);
    color: var(--white);
  }

  .caption {
    position: absolute;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    font-weight: normal;
    color: var(--white);
    margin-right: var(--outer-margin);
    margin-left: var(--outer-margin);

    .text {

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: var(--small-space);

    &:hover {}
  }

  .back,
  .forward {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: var(--z-fullscreen-gallery);

    button {
      background-color: var(--white);
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      color: var(--black);
    }
  }

  .back {
    left: var(--space);
  }

  .forward {
    right: var(--space);
  }

  @include mq($until: tablet) {}
}