.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: $symbol-font;
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  min-height: 1.1rem;
  padding-top: 0.5rem;

}

.invert {
  filter: invert(1);
  color: var(--white) !important;
}