.card {
  display: flex;
  flex-direction: row;
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: var(--line-thin);

  &:last-child {
    border-bottom: 0;
  }

  &.home {
    a > h2,
    p > a {
      color: var(--black) !important;
      &:hover {
        color: var(--white) !important;
      }
      transition: color 0.2s ease;
    }
    p > a {
      border-color: var(--white) !important;
    }
  }

  &:hover {
    .meta a {
      color: var(--page-color);
    }
  }

  h2 {
    padding-top: 0.2em;
    padding-bottom: var(--small-space);
  }

  .meta {
    line-height: var(--line-height) !important;
    column-count: 2;
  }

  > div,
  a {
    flex: 0 0 50%;
  }

  p {
    padding-bottom: var(--small-space);
    margin-bottom: 0 !important;
  }

  figure {
    border: var(--line-thick);
    display: flex;
    aspect-ratio: 6 / 4;

    img {
      object-fit: cover;
    }
  }

  @include mq($until: tablet) {
  }

  @include mq($from: tablet) {
  }
}
