.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
  border-bottom: var(--line-thick);

  @include mq($from: tablet) {
    li:nth-child(odd) {
      & > div {
        padding-right: var(--gutter);
      }
    }

    li:nth-child(even) {
      flex-direction: row-reverse;
      & > div {
        padding-left: var(--gutter);
      }
    }
  }
}
