.card {
  display: flex;
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: var(--line-thin);
  width: 100%;
  flex-direction: column-reverse;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    .meta a {
      color: var(--page-color);
    }
  }

  &.home {
    a > h2,
    p > a {
      color: var(--black) !important;

      &:hover {
        color: var(--white) !important;
      }

      transition: color 0.2s ease;
    }

    p > a {
      border-color: var(--white) !important;
    }

    &:hover .meta a {
      color: var(--black);
    }

    .meta a {
      border-bottom: 1px solid var(--white);

      &:hover {
        color: var(--white);
      }
    }
  }

  h2 {
    padding-top: 0.2em;
    padding-bottom: calc(0.8 * var(--small-space));
  }

  .meta {
    line-height: var(--line-height) !important;
    column-count: 2;

    span {
      display: block;
      a {
        border-bottom: 1px solid var(--page-color);
      }
    }
  }

  > div,
  a {
    @include mq($from: desktop) {
      flex: 0 0 50%;
    }
  }

  p {
    padding-bottom: var(--small-space);
    margin-bottom: 0 !important;
  }

  figure {
    border: var(--line-thick);
    display: flex;
    aspect-ratio: 6 / 4;

    @include mq($until: desktop) {
      margin-bottom: var(--small-space);
    }

    .image {
      max-width: none !important;
    }

    img {
      object-fit: cover;
    }
  }

  @include mq($until: tablet) {
  }

  @include mq($from: tablet) {
  }

  &.list {
    > div {
      @include mq($from: desktop) {
        flex: 0 0 75%;
        padding-right: 5%;
      }
    }

    h2 {
      padding-top: 0;
    }
    > a {
      @include mq($until: desktop) {
        display: none;
      }

      flex: 0 0 25%;
      padding-right: var(--gutter);
    }

    .meta {
      column-count: 3;
    }
  }
}
