.card {
  display: flex;
  flex-direction: row;
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: var(--line-thin);

  h1 {
    padding-bottom: var(--small-space);
  }

  .meta {
    line-height: var(--line-height) !important;
  }

  > p,
  figure {
    flex: 0 0 50%;
  }

  p {
  }

  figure {
  }

  @include mq($until: tablet) {
  }

  @include mq($from: tablet) {
  }
}
