.card {
  position: relative;
  flex: 0 0 50%;
  padding-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: var(--line-thick);

  &:nth-last-child(1),
  &:nth-last-child(2) {
    border-bottom: 0;
  }

  &:hover .image {
    opacity: 0.4;
  }

  a {
    position: relative;

    figure {
      position: relative;
      display: flex;
      aspect-ratio: 6/4;
      background-color: var(--black);

      h1,
      .intro {
        position: absolute;
        left: 0;
        z-index: 1;
        margin: var(--space);
        margin-top: calc(var(--space) - 0.15em);
      }

      h1 {
        top: 0;
        color: var(--white);
      }

      .text {
        margin: 0;
        padding-bottom: 0;

        .intro {
          color: var(--white);
          bottom: 0;

          p {
            font-weight: bold;
            margin: 0;
          }
        }
      }

      .image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        transition: opacity 0.5s ease;
      }
    }
  }
}
