.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: var(--space);

  @include mq($from: desktop) {
    li {
      &:nth-of-type(odd) {
        padding-right: calc(0.5 * var(--gutter));
      }

      &:nth-of-type(even) {
        padding-left: calc(0.5 * var(--gutter));
      }
    }
  }
}
