.container {
  position: relative;
  left: 0;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  width: 100vw;
  padding-right: var(--grid-unit);
  padding-left: var(--outer-margin);
  background-color: rgba(227, 227, 227, 0.134);

  h1 a {
    color: var(--page-color);
    margin-bottom: var(--space);
  }

  h3 {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
  }

  >ul {
    list-style: none;
    padding-left: var(--grid-unit);

    li {
      margin-top: var(--space);
      padding-bottom: var(--space);
      border-bottom: var(--line-thick);

      .intro {
        p {
          padding: 0;
          margin-top: var(--small-space);

          >strong {
            font-family: $headline-font;
            font-size: 0.75rem;
            font-weight: bold !important;
          }
        }
      }

      button {
        margin-top: var(--small-space);
      }
    }
  }

  .loading,
  .nohits {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .nohits {}
}