.container {
  margin-top: var(--space);

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    padding-bottom: var(--space);
    border-bottom: var(--line-thick);
  }
}
