.container {
  margin-top: var(--space);

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    padding-bottom: var(--space);

    @include mq($from: desktop) {
      width: calc(100% + 2 * (var(--small-space)));
      margin-right: calc(-1 * var(--small-space));
      margin-left: calc(-1 * var(--small-space));
    }
  }

  &:not(:last-of-type) {
    border-bottom: var(--line-thick);
  }
}
