.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: var(--line-thin);
  flex: 1 1 25%;

  padding-right: var(--small-space);
  padding-left: var(--small-space);

  &:nth-child(1) {
    padding-left: 0;
  }

  &:hover {
    .meta a {
      color: var(--page-color);
    }
  }

  h2 {
    padding-top: 0.2em;
    padding-top: var(--small-space);
  }

  p {
    padding-bottom: var(--small-space);
    margin-top: 1rem;
    margin-bottom: 0 !important;
  }

  a {
    width: 100%;

    figure {
      position: relative;
      display: flex;
      justify-content: center;
      height: 25vh;
      width: 100%;



      .image {
        object-fit: cover;
        mask-position: 50% 50%;
        mask-size: contain;
        mask-repeat: space;
      }
    }
  }

  @include mq($until: tablet) {}

  @include mq($from: tablet) {}
}