.thumbnail {
  position: relative;
  display: block;
  //width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    .imageWrap>.image {
      /*
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
      width: calc(100% - 1em) !important;
      margin-top: -0.25rem;
      */
      transform: scale(1.03);
    }
  }

  h3 {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .imageWrap {
    position: relative;

    .loader {
      position: absolute !important;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      aspect-ratio: 8 / 5;
      pointer-events: none;
      opacity: 1;
      transition: opacity 0.2s ease !important;

      img {
        object-fit: contain;
      }

      &.hide {
        opacity: 0 !important;
      }
    }

    .image {
      margin-left: 1rem;
      margin-right: 1rem;
      width: calc(100% - 2em) !important;
      margin-bottom: 0.8em;
      aspect-ratio: 8 / 5;
      transition: all 0.3s ease-in-out;

      img {
        object-fit: cover;
      }
    }

    .picture {
      overflow: hidden;
      max-width: 100% !important;
      transition: transform 0.2s ease-in-out;

      @include mq($from: tablet) {
        &:hover {
          left: 2.5rem;
        }
      }
    }
  }

}