.video {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: var(--space);
  margin-bottom: var(--space);
  width: 100%;

  @include mq($from: tablet) {}

  .player {
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    margin-top: 1rem;

    @include mq($until: tablet) {}
  }
}