.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
  color: var(--light-grey);
  padding: var(--outer-margin);

  a:hover {
    color: var(--page-color);
  }

  .line {
    border: var(--line-thin);
    border-color: var(--light-grey);
    margin-bottom: var(--space);
  }

  a {
    color: var(--white);
  }

  .logo {
    font-family: "KF-Symbol";
    font-size: 3rem;
    line-height: 1;
    display: block;
    margin-top: -0.15em;
    padding-bottom: 0.25em;
  }

  nav {
    display: flex;
    flex-direction: row;

    .about {
      @include mq($from: tablet) {
        flex: 0 0 calc(var(--grid-unit));
        padding-right: 3rem;
      }

      line-height: 1.25em;
    }

    ul {
      @include mq($until: tablet) {
        display: none;
      }

      list-style: none;
      display: flex;
    }

    >ul {
      @include mq($until: desktop) {
        display: none;
      }

      display: flex;
      flex: 1 1 100%;
      flex-direction: row;

      >li {
        flex: 0 0 calc(100% / 4);
        padding-right: 1rem;
        overflow: hidden;

        ul {
          flex-direction: column;
          margin-top: 1rem;
          color: var(--white);

          li {
            padding-bottom: 0.2em;
            line-height: 1.2;
          }
        }

        &.double {
          flex: 0 0 calc(2 * calc(100% / 4));
          display: block;

          ul {
            display: block;
            column-count: 3;

            li {
              white-space: pre;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}