.footer {
  width: 100%;
  position: relative;
  background-color: var(--black);
  color: var(--light-grey);
  padding: var(--outer-margin);
  display: flex;
  flex-direction: column;

  .line {
    border: var(--line-thin);
    border-color: var(--light-grey);
    margin-bottom: var(--outer-margin);
  }

  nav {
    display: flex;
    flex-direction: row;

    .about {
      flex: 0 0 calc(var(--grid-unit));
    }

    ul {
      list-style: none;
      display: flex;

      a {
        color: var(--white);
      }
    }

    >ul {
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;

      >li {
        flex: 0 0 calc(100% / 5);

        ul {
          flex-direction: column;
          margin-top: 1rem;
          color: var(--white);

          li {}
        }
      }
    }
  }
}