.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
  color: var(--light-grey);
  padding: var(--outer-margin);

  .line {
    border: var(--line-thin);
    border-color: var(--light-grey);
    margin-bottom: var(--space);
  }

  a {
    color: var(--white);
  }

  .logo {
    font-family: "KF-Symbol";
    font-size: 3rem;
    line-height: 1;
    display: block;
    margin-top: -0.15em;
    padding-bottom: 0.25em;
  }

  nav {
    display: flex;
    flex-direction: row;

    .about {
      @include mq($from: tablet) {
        flex: 0 0 calc(var(--grid-unit));
        padding-right: 1rem;
      }
    }

    ul {
      @include mq($until: tablet) {
        display: none;
      }
      list-style: none;
      display: flex;
    }

    > ul {
      @include mq($until: tablet) {
        display: none;
      }
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;

      > li {
        flex: 0 0 calc(100% / 5);
        padding-right: 1rem;
        overflow: hidden;

        ul {
          flex-direction: column;
          margin-top: 1rem;
          color: var(--white);

          li {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre;
            padding-bottom: 0.2em;
          }
        }
      }
    }
  }
}
