.footer {
  width: calc(100% - (var(--outer-margin) * 2));
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  padding-bottom: var(--outer-margin);
  border-top: 1px solid var(--black);
  position: relative;
  text-align: left;
  z-index: var(--z-footer);

  section {
    display: flex;

    @include mq($until: tablet) {
      flex-direction: column;
      align-items: center;
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
    }

    padding-top: var(--outer-margin);
    padding-left: var(--total-outer-margin);
    padding-right: var(--total-outer-margin);
    position: relative;

    div {
      padding-bottom: 0.5em;

      @include mq($from: tablet) {
        width: 33.33%;
      }

      text-align: center;
    }
  }

  .kf {
    @include mq($until: tablet) {
      transform: scale(0.7);
    }

    @include mq($from: tablet) {
      position: absolute;
      right: 0;
      margin-bottom: var(--outer-margin);
    }
  }
}