.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-menu);
  min-height: var(--navbar-height);
  padding-top: var(--small-space);
  padding-bottom: var(--small-space);
  width: var(--body-width);
  border-bottom: var(--line-thick);
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  background-color: var(--background);

  @include mq($until: desktop) {
  }

  h2 {
    margin: 0;
    padding: 0;
    margin-left: calc(var(--grid-unit));
  }

  .wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  ul {
    margin-left: calc(var(--grid-unit));
    list-style: none;
    display: flex;
    width: 100%;

    flex-direction: row;

    li {
      cursor: pointer;
      margin-right: 1em;

      &:not(:last-of-type)::after {
        content: "4";
        padding-left: 1em;
        font-family: $symbol-font;
      }
    }
  }
}
