.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-menu);
  padding: var(--outer-margin);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  min-width: 20%;
  max-width: 20%;

  @include mq($until: desktop) {
    --max-width: calc(100% - var(--logo-size-optical) - calc(var(--outer-margin) * 3));
    min-width: var(--max-width);
    max-width: var(--max-width);
  }

  &.hide {
    transform: translateX(100%);
  }

  .wrapper {
    padding: var(--outer-margin);
  }

  span {
    display: block;

    @include mq($until: tablet) {
      padding-top: 1.5em;
      padding-bottom: calc(var(--header-height) - 1.5em);
    }

    padding-bottom: var(--header-height);
  }

  a {
    font-weight: normal;
  }

  ul {
    list-style: none;
    font-weight: bold;
    padding-left: 0.61rem;

    @include mq($until: tablet) {
      margin-left: 0.61rem;
      font-size: 1.1rem;
    }

    &[data-level="0"] {
      scrollbar-width: 0px;
      overflow-y: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        height: 0px;
      }

      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      >li>a {
        font-weight: bold;
      }
    }

    // About
    &[data-level="2"],
    &[data-level="3"] {
      >li {
        font-weight: normal !important;
      }
    }

    li {
      cursor: pointer;
      padding-bottom: 0.5em;
      line-height: 1.4;
      overflow-x: visible !important;
      overflow-y: visible !important;

      a {
        line-height: initial;
      }

      &.active {
        &::before {
          content: "°  ";
          position: relative;
          top: 0.2em;
          margin-left: -0.61em;
        }
      }

      &:first-of-type {
        padding-top: 0.5em;

        @include mq($from: tablet) {
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

.search {
  position: relative;
  padding-bottom: 0 !important;
  --padding: 0rem;

  input {
    width: 100%;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding: var(--padding);
    margin-top: calc(var(--padding) * -1);
    margin-left: calc(var(--padding) * -1);
    padding-bottom: 0.3rem;

    &::placeholder {
      color: var(--black);
      font-weight: bold;
    }

    &:focus {
      border-bottom: 1px solid lightgray;

      &::placeholder {
        color: lightgray;
      }
    }
  }

  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    top: 0;
    right: 0;
    height: 100%;
    width: 1rem;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }
  }
}