.navbar,
.menuMobile {
  color: var(--white);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  @include mq($from: desktop) {
    display: none !important;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: var(--navbar-height);
  padding: var(--outer-margin);
  z-index: var(--z-navbar-mobile);
  color: var(--black);
  background-color: var(--background);

  .line {
    width: calc(100% - (2 * var(--outer-margin)));
    border-bottom: var(--line-thick);
    position: absolute;
    bottom: 0;
  }

  .logo {
    font-size: 2.5rem;
    font-family: $symbol-font;
  }

  .hamburger {
    color: var(--black);
  }

  h2 {
    margin-left: 1rem;
  }

  .logo,
  .hamburger,
  h2 {
    transition: color 0.3s ease-out;
  }

  &.open {
    color: var(--white);
    background-color: var(--black);

    >* {
      color: var(--white);
    }
  }
}

.menuMobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  padding-top: var(--navbar-height);
  width: 100%;
  height: 100%;
  z-index: var(--z-menu-mobile);
  background-color: var(--black);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  a {
    color: var(--white);
  }

  nav {
    margin: var(--outer-margin);
    font-size: var(--navbar-text-size);
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }


    ul {
      list-style: none;
    }

    li {
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: var(--line-thin);
    }

    >ul {
      >li {
        ul {
          display: none;

          &.expanded {
            display: block;
          }

          margin-left: 1rem;

          li {
            &:last-of-type {
              border-bottom: 0;
              padding-bottom: 0em;
            }
          }
        }
      }
    }
  }
}

.hamburger {
  position: fixed;
  z-index: var(--z-hamburger);
  top: 0;
  right: 0;
  margin: var(--outer-margin);
  color: var(--white);
  font-size: 2rem;
}