.sidemenu {
  list-style: none;

  li {
    &:not(:last-of-type) {
      padding-bottom: 0.5em;
    }

    &.selected,
    &:hover {
      a {
        color: var(--page-color) !important;
      }
    }
  }
}
