.container {
  position: relative;
  color: var(--white);
  border-top: var(--line-thick);
  border-bottom: var(--line-thick);
  margin-top: var(--small-space);

  &:first-of-type {
    border-top: 0;
    margin-top: 0;
  }

  a {
    &:hover {
      .bubble {
        opacity: 1;
      }
    }

    figure {
      position: relative;
      width: 100%;

      .image {
        width: 100%;
        height: 70vh;
        @include mq($from: tablet) {
          height: calc(100vh - var(--navbar-height) - calc(var(--space) * 2));
        }
      }

      figcaption {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100%;
        padding-bottom: var(--small-space);
        padding-top: 0;
        padding-left: var(--outer-margin);
        padding-right: var(--outer-margin);
        padding-bottom: var(--outer-margin);

        @include mq($from: tablet) {
          padding-left: var(--grid-unit);
          width: 80%;
          padding-bottom: var(--small-space);
        }

        h1,
        p {
          color: var(--white);
          margin-bottom: 0;
        }

        h1 {
          flex: 1 1 auto;
          margin-top: var(--small-space);
        }

        p {
          flex: 0 0;
        }
      }
    }
  }

  .bubble {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--space);
    opacity: 0;
    transition: all 0.3s ease;
  }
}
