.container {
  color: var(--white);
  border-top: var(--line-thick);
  border-bottom: var(--line-thick);

  figure {
    position: relative;
    width: 100%;

    .image {
      width: 100%;
      height: calc(100vh - var(--navbar-height) - calc(var(--space) *2));

      @include mq($until: tablet) {}

      @include mq($from: tablet) {}
    }

    figcaption {
      position: absolute;
      bottom: var(--small-space);
      left: 0;
      width: 100%;

      text-align: center;

      @include mq($from: tablet) {}

      .fade {
        //background-color: red;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.297) 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 50%;
        margin-left: calc(-1 * var(--outer-margin));
        margin-right: calc(-1 * var(--outer-margin));
        margin-top: calc(-1 * var(--small-space));
        width: calc(100% + (2 * var(--outer-margin)));

        @include mq($from: tablet) {
          margin-left: calc(-1 * var(--grid-unit));
          margin-right: calc(-1 * var(--grid-unit));
          width: calc(100% + (4 * var(--grid-unit)));
        }
      }
    }
  }


}