.container {
  margin-top: var(--space);
  margin-bottom: var(--space);

  &.small {}

  &.medium {}

  &.large {}

  &.right {}

  &>div {
    border: var(--line-thick);
  }

  div {
    max-width: none !important;
  }

  figcaption {
    line-height: 0 !important;

    @include mq($until: tablet) {
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
    }
  }
}