.container {
  color: var(--white);
  border-top: var(--line-thick);
  border-bottom: var(--line-thick);

  a {
    figure {
      position: relative;
      width: 100%;

      .image {
        width: 100%;
        height: calc(100vh - var(--navbar-height) - calc(var(--space) *2));

        @include mq($until: tablet) {}

        @include mq($from: tablet) {}
      }

      figcaption {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: var(--grid-unit);
        padding-bottom: var(--small-space);

        h1,
        p {
          color: var(--white);
        }

        h1 {
          flex: 1 1 auto;
        }

        p {
          flex: 0 0;
        }
      }
    }
  }
}