.gallery {
  --height: calc(100vh - 10vh - var(--space));
  --width: 100%;
  //height: var(--height);
  width: var(--width);
  border-top: var(--line-thick);
  border-bottom: var(--line-thick);
  margin-top: var(--small-space);


  @include mq($until: desktop) {
    //max-width: 100vw;
    //min-width: 100vw;
  }

  .slide {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;

      @include mq($from: desktop) {
        &:hover {
          .bubble {
            opacity: 1;
          }
        }
      }

      .bubble {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: var(--space);
        opacity: 0;
        transition: all 0.3s ease;
      }

      figure {
        position: relative;
        width: 100%;

        .image,
        .picture {
          position: relative;
          margin: 0;
          max-height: var(--height);
          min-width: 100%;
          cursor: pointer;

          &.portrait {
            object-fit: contain;
          }
        }

        figcaption {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 0;
          left: 0;
          height: 100%;
          padding: 0;

          @include mq($from: tablet) {
            padding-left: var(--grid-unit);
            padding-bottom: var(--space);
          }

          h1,
          p {
            color: var(--white);
            margin-bottom: 0;
          }

          h1 {
            flex: 1 1;
            padding-top: var(--small-space);
          }

          p {
            flex: 0 0;
            padding-bottom: var(--small-space);
            padding-right: var(--outer-margin);

          }
        }
      }
    }
  }
}