.container {
  h2.completed {
    margin-top: var(--space);
    padding-bottom: var(--big-space);
    border-bottom: var(--line-thick);

    @include mq($from: tablet) {
      padding-left: var(--grid-unit);
    }
  }
}
